<!-- Jumbtron -->
<div class="jumbotron">
    <div class="container">
        <h1>Mi Marca</h1>
        <p>
            la tienda en linea dedicada a la comercialización de equipo de computo de alto rendimiento, realizamos envios a todo mexico, nuestro sitio tiene certificado de confianza emitido por la asosiación mexicana de internet.
        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Leer mas &raquo;</a></p>
    </div>
</div>
<!-- Jumbtron Fin -->
<!-- Contenido -->
<section class="background-dark">
    <div class="container ">
        <div class="row">
            <article class="col-md-3">
                <div class="thumbnail">
                    <img src="http://www.pcdigital.com.mx/images/772775R.jpg" class="img-responsive" />
                    <div class="caption">
                        <h3>Mouse</h3>
                        <p>Mouse super potente inalambrico duracion continua por meses</p>
                        <p>
                            <button href="#" class="btn btn-default">$ 3,123</button> 
                            <button href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal-id-1">Vista</button>
                            <!-- Modal -->
                            <div class="modal fade" id="modal-id-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Mouse</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4">
                                                    <img src="http://www.pcdigital.com.mx/images/772775R.jpg" class="img-responsive" />
                                                </div>
                                                <div class="col-md-8 col-sm-8">
                                                    <p>Nombre: @{{var}}</p>
                                                    <p>Categoria: @categoria</p>
                                                    <p>Precio: @{{var}}</p>
                                                    <p>Nombre: @{{$552}}</p>
                                                    <p>Peso: @{{var}}</p>
                                                    <p>Envio: @{{var}}</p>
                                                    <p>Garantia: @{{var}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </p>
                    </div>
                </div>
            </article>
            <article class="col-md-3">
                <div class="thumbnail">
                    <img src="http://www.pcdigital.com.mx/images/MX279Ha.jpg" class="img-responsive" />
                    <div class="caption">
                        <h3>Monitor</h3>
                        <p>Monitor ultima generacion Inalámbrica D-Link DCS-933L, N 3G LED</p>
                        <p>
                            <button href="#" class="btn btn-default">$ 3,123</button> 
                            <button href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal-id-2">Vista</button>
                            <!-- Modal -->
                            <div class="modal fade my-modal" id="modal-id-2">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Monitor</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="http://www.pcdigital.com.mx/images/772775R.jpg" class="img-responsive" />
                                                </div>
                                                <div class="col-md-8">
                                                    <p>Nombre: @{{var}}</p>
                                                    <p>Categoria: @categoria</p>
                                                    <p>Precio: @{{var}}</p>
                                                    <p>Nombre: @{{$552}}</p>
                                                    <p>Peso: @{{var}}</p>
                                                    <p>Envio: @{{var}}</p>
                                                    <p>Garantia: @{{var}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </article>
            <article class="col-md-3">
                <div class="thumbnail">
                    <img src="http://www.pcdigital.com.mx/images/DCS-933Lb.png" class="img-responsive" />
                    <div class="caption">
                        <h3>Camara IP</h3>
                        <p>Cámara de Seguridad IP Inalámbrica D-Link DCS-933L, N 3G LED</p>
                        <p>
                            <button href="#" class="btn btn-default">$ 3,123</button> 
                            <button href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal-id-3">Vista</button>
                            <!-- Modal -->
                            <div class="modal fade my-modal" id="modal-id-3">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Camara IP</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="http://www.pcdigital.com.mx/images/772775R.jpg" class="img-responsive" />
                                                </div>
                                                <div class="col-md-8">
                                                    <p>Nombre: @{{var}}</p>
                                                    <p>Categoria: @categoria</p>
                                                    <p>Precio: @{{var}}</p>
                                                    <p>Nombre: @{{$552}}</p>
                                                    <p>Peso: @{{var}}</p>
                                                    <p>Envio: @{{var}}</p>
                                                    <p>Garantia: @{{var}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </article>
            <article class="col-md-3">
                <div class="thumbnail">
                    <img src="http://www.pcdigital.com.mx/images/772775R.jpg" class="img-responsive" />
                    <div class="caption">
                        <h3>Mouse</h3>
                        <p>Mouse super potente inalambrico duracion continua por meses</p>
                        <p>
                            <button href="#" class="btn btn-default">$ 3,123</button> 
                            <button href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal-id-4">Vista</button>
                            <!-- Modal -->
                            <div class="modal fade my-modal" id="modal-id-4">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Mouse</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="http://www.pcdigital.com.mx/images/772775R.jpg" class="img-responsive" />
                                                </div>
                                                <div class="col-md-8">
                                                    <p>Nombre: @{{var}}</p>
                                                    <p>Categoria: @categoria</p>
                                                    <p>Precio: @{{var}}</p>
                                                    <p>Nombre: @{{$552}}</p>
                                                    <p>Peso: @{{var}}</p>
                                                    <p>Envio: @{{var}}</p>
                                                    <p>Garantia: @{{var}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </article>
            <article class="col-md-3">
                <div class="thumbnail">
                    <img src="http://www.pcdigital.com.mx/images/MX279Ha.jpg" class="img-responsive" />
                    <div class="caption">
                        <h3>Monitor</h3>
                        <p>Monitor ultima generacion Inalámbrica D-Link DCS-933L, N 3G LED</p>
                        <p>
                            <button href="#" class="btn btn-default">$ 3,123</button> 
                            <button href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal-id-5">Vista</button>
                            <!-- Modal -->
                            <div class="modal fade my-modal" id="modal-id-5">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Monitor</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="http://www.pcdigital.com.mx/images/772775R.jpg" class="img-responsive" />
                                                </div>
                                                <div class="col-md-8">
                                                    <p>Nombre: @{{var}}</p>
                                                    <p>Categoria: @categoria</p>
                                                    <p>Precio: @{{var}}</p>
                                                    <p>Nombre: @{{$552}}</p>
                                                    <p>Peso: @{{var}}</p>
                                                    <p>Envio: @{{var}}</p>
                                                    <p>Garantia: @{{var}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </article>
            <article class="col-md-3">
                <div class="thumbnail">
                    <img src="http://www.pcdigital.com.mx/images/DCS-933Lb.png" class="img-responsive" />
                    <div class="caption">
                        <h3>Camara IP</h3>
                        <p>Cámara de Seguridad IP Inalámbrica D-Link DCS-933L, N 3G LED</p>
                        <p>
                            <button href="#" class="btn btn-default">$ 3,123</button> 
                            <button href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal-id-6">Vista</button>
                            <!-- Modal -->
                            <div class="modal fade my-modal" id="modal-id-6">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Camara IP</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="http://www.pcdigital.com.mx/images/772775R.jpg" class="img-responsive" />
                                                </div>
                                                <div class="col-md-8">
                                                    <p>Nombre: @{{var}}</p>
                                                    <p>Categoria: @categoria</p>
                                                    <p>Precio: @{{var}}</p>
                                                    <p>Nombre: @{{$552}}</p>
                                                    <p>Peso: @{{var}}</p>
                                                    <p>Envio: @{{var}}</p>
                                                    <p>Garantia: @{{var}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
<!-- Contenido Fin-->