<div class="jumbotron text-center">
	<div class="container">
		<h3><span class="label label-success">Dar de alta articulos en la aplicación</span></h3>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Formulario alta de artículos
				</div>
				<div class="panel-body">
					<form action="">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Nombre</label>
									<input type="text" name="nombre" class="form-control">
								</div>
								<div class="form-group">
									<label>Categoria</label>
									<select name="categoria" class="form-control">
										<option value="1">categoria 1</option>
										<option value="2">categoria 2</option>
										<option value="3">categoria 3</option>
									</select>
								</div>
								<div class="form-group">
									<label>Modelo</label>
									<input type="text" name="modelo" class="form-control">
								</div>
								<div class="form-group">
									<label>Precio</label>
									<input type="text" name="precio" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Peso</label>
									<input type="text" name="peso" class="form-control">
								</div>
								<div class="form-group">
									<label>Envío</label>
									<input type="text" name="envio" class="form-control">
								</div>
								<div class="form-group">
									<label>Garantia</label>
									<input type="text" name="garantia" class="form-control">
								</div>
								<div class="form-group">
									<label>Imágen</label>
									<input type="file" name="imagen" class="form-control">
								</div>
							</div>
						</div>
						
					</form>
				</div>
				<div class="panel-footer">
					<a href="" class="btn btn-default">Cancelar</a>
					<button class="btn btn-primary">Guardar</button>
				</div>
			</div>
		</div>
	</div>
</div>